<!DOCTYPE html>
<html>
<head>
  <title>LogWatcher</title>
  <%= stylesheet_link_tag    "log_watcher/application", :media => "all" %>
  <%= javascript_include_tag "log_watcher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
