<h1>Logs#index</h1>
<% @records[:records].each do |log| %>
    <div>
      <%= sanitize(log, :tags => %w"br") %>
    </div>
    <br/>
<% end %>
<% if @records[:prev_offset] != 0 %>
  <%= link_to 'Prev', root_path(:offset => @records[:prev_offset]) %>
<% end %>
<%= link_to 'Next', root_path(:offset => @records[:next_offset]) %>
